@mixin transition-ease{
    transition: all 0.3s ease-in-out;
}
$primary-color: #272727;
$secondary-color: #ff652f;

@function set-text-color($color){
    @if(lightness($color) > 40%){
        @return #000;
    } @else {
        @return #fff;
    }
}
.menu{
    height: 8vh;
}
.menu-btn {
    display: none;
}
.menu-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
    @media screen and (min-width:800px) and (max-width:1150px){
      width: 40vw;  
    }
    height: 10vh;
    margin-left:auto;
    margin-right: 80px;
    list-style-type: none;
    &__link{
        font-size: 16px;
        text-decoration: none;
        list-style-type: none;
        padding: 2rem 0;
        font-weight: 300;
        color: white;
        @include transition-ease;
        &.download{
          background-color: #fff;
          color: black;
          padding: .5rem 1.2rem;
          height: 30px;
          border-radius: 10px;
          &:hover{
            background: #FF9249;
          }
        }
        &.homel{
            font-family: 'Merienda One', sans-serif;
            font-size: 1.5em;
            position: absolute;
            left: 10%;
            top: 0;
            margin: auto;
            padding-top: .7em;
        }
        &:hover{
            color: black;
        }
    }
}

@media screen and (max-width:800px){
    .menu{
        display: flex;
        align-items: center;
    }
    .menu-btn {
        display: block;
      position: absolute;
      z-index: 5;
      right: 2em;
      top: 25px;
      margin: auto 0px;
      height: 20px;
      width: 28px;
      cursor: pointer;
      @include transition-ease;

      &__burger {
        position: absolute;
        right: 0;
        top: 0.5rem;
        @include transition-ease;

        &::before {
          content: '';
          position: absolute;
          right: 0;
          top: -8px;
          width: 28px;
          height: 2px;
          background: rgb(255, 255, 255);
          @include transition-ease;
        }

        &::after {
          content: '';
          right: 0;
          position: absolute;
          top: 8px;
          width: 28px;
          height: 2px;
          background:rgb(255, 255, 255);
          @include transition-ease;
        }
        &.open {
          transform: rotate(360deg);
          background: transparent;

          &::before {
            transform: rotate(45deg) translate(5px, 8px);
            background: black;
          }
          &::after {
            width: 28px;
            background: black;
            transform: rotate(-45deg) translate(3px, -7px);
          }
        }
      }
    }
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
  z-index: 3;
  &.open {
    visibility: visible;
    z-index: 3;
  }

  .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 70%;
    margin-left: 30%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.87);
    list-style-type: none;
    padding-right: 1rem;
    transform: translateX(100%);
    @include transition-ease;

    &.open {
      transform: translateY(0);
    }

    &__item {
      transform: translateX(100vw);
      @include transition-ease;

      &.open {
        transform: translateX(0);
      }

 
    }
    &__link{
        display: inline-block;
        font-size: 1.5rem;
        text-decoration: none;
        text-transform: uppercase;
        padding: 2rem 0;
        font-weight: 300;
        color: black;
        @include transition-ease;

        &:hover{
            color: black;
        }
    }
  }
}
@for $i from 1 through 4{
    .menu-nav__item:nth-child(#{$i}){
        transition-delay: ($i * 0.1s) + 0.10s;
    }
}
}
